[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
asgiref = "==3.9.0"
django = "==5.2.4"
django-widget-tweaks = "==1.5.0"
pillow = "==11.3.0"
sqlparse = "==0.5.3"
tzdata = "==2025.2"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.13"
